<div class="content">
  <h1 class="header">
    Edit Contact
  </h1>
  <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
    <section>
      <nav>Name/Info</nav>
      <div>
        <input placeholder="First Name" formControlName="firstName" />
        <input placeholder="Last Name" formControlName="lastName" />
        <input placeholder="Date of Birth" formControlName="dateOfBirth" />
        <input type="number" placeholder="Favorites Ranking" formControlName="favoritesRanking" />
        <div>
          <input type="checkbox" formControlName="personal"/> Personal
        </div>

      </div>
    </section>
    <section formGroupName="phone">
      <nav>Phone</nav>
      <div class="flex-column">
        <div class="flex-group">
          <input placeholder="Phone" formControlName="phoneNumber"/>
          <img src="/assets/plus-grey-blue.png" class="add" />
        </div>
        <div class="radio">
          <span *ngFor="let phoneType of phoneTypes">
            <input type="radio" [value]="phoneType.value" formControlName="phoneType" /> {{phoneType.title}}
          </span>

        </div>
      </div>
    </section>
    <section formGroupName="address">
      <nav>Address</nav>
      <div>
        <div class="address">
          <div class="flex-group">
            <input placeholder="Address" formControlName="streetAddress" />
            <img src="/assets/plus-grey-blue.png" class="add" />
          </div>
          <input placeholder="City" formControlName="city" />
          <input placeholder="State/Region" formControlName="state" />
          <input placeholder="Zip/Postal Code" formControlName="postalCode" />
          <select formControlName="addressType">
            <option *ngFor="let addressType of addressTypes" [value]="addressType.value">{{addressType.title}}</option>
          </select>
        </div>
      </div>
    </section>
    <div class="buttons">
      <button class="secondary">Cancel</button>
      <button class="primary" type="submit">Save</button>
    </div>
  </form>
</div>
